$color-grey-text: #ddd;
$color-grey-background: #333333;

$color-teal-text: #9cc5c7;
$color-teal-primary: #1f9398;
$color-teal-accent: #026168;

$color-violet-text: #b6aaca;
$color-violet-primary: #7533c0;
$color-violet-accent: #411479;

$color-alert: #6b0b0b;