$color-grey-text: #ddd;
$color-grey-background: #333333;
$color-teal-text: #9cc5c7;
$color-teal-primary: #1f9398;
$color-teal-accent: #008088;
$color-violet-text: #b6aaca;
$color-violet-primary: #9972C6;
$color-violet-accent: #7851A8;